.icon{
    width: 30px;
    transition: 0.5s;
}

.icon:hover {
    width: 40px;
}

.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
}

.distance{
    margin: 15px;
}

.tamanho-image{
    width: 900px;
}